.introhead{
	color:#2C3D59;
	padding:60px 20px;
	font-size: 24px;
	text-align: left;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	
	margin:30px 20px 0px;
	background:url("../images/rwd2.gif") repeat-y scroll left top transparent;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:0px;
	box-shadow: -5px -5px 10px #aaa;
	background-color: #E3ECF5;
	font-family:Comic Sans MS;
}
.profphoto{
	display:none;
	padding:20 30 0 60;
	margin:auto 0;
	text-align:center;
	
}
.profphoto img{
	width:120px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-right-radius:24px;
	border-bottom-left-radius:24px;
	box-shadow: 8px -5px 5px #aaa;
	text-align:center;
}
.proftext{
	padding-left:30px;
}

.proftext .name{font-size:20px}
.proftext .desig{font-size:14px;margin:0;}
.clear{clear:both}
.showprof{
		display:block;
		
		padding:20 0 0 30px;
}
.showprof button,.showprof button:hover,.showprof button:focus{width:100%;background-color:#2C3D59;color:#E3ECF5}


.contain{

margin:0 20;border:4px solid #E3ECF5;position:relative;top:-20px;border-top:none;padding-top:20px;

border-radius:0 0 10 10;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;

}
.bar{

box-shadow: 5px 5px 5px #aaa;
background:#2C3D59;
border-top-left-radius:5px;
border-top-right-radius:40px;
border-bottom-right-radius:40px;
border-bottom-left-radius:5px;
color:#FFF;
font-size:14px;
margin:0 0 0 40;
padding:10 20 10 20;
width: 65%;
font-family:DigifaceWide;
font-weight:bold;
}
.gensec{
	padding:50 0 0;
}
.secont{margin:40 0 0 70}
.setext{padding:0 0 20 0;font-size:18px}
.selist{padding-left:10px}
.mcp{width:250px;height:250px;background:url("../images/Special_ProgHTML5_Blk.png") no-repeat scroll left top transparent;background-size:contain;}
.soimg{background:url("../images/so.jpg") no-repeat scroll left top transparent;padding-left:30px;background-size:contain;margin-left:50px}
.gitimg{background:url("../images/git.png") no-repeat scroll left top transparent;padding-left:37px;background-size:contain;}
.pT7{padding-top:7px}
.sesub{
	box-shadow: 5px 5px 5px #aaa;
	background:#2C3D59;
	color:#FFF;
	font-size:12px;
	margin:0 0 0 20;
	padding:15;
	font-family:DigifaceWide;
	font-weight:bold;
	width:80%;

}
.skillcont{margin:30 30px 20 30}
.secondarycont{margin:30 30px 20 30;border-bottom: 1px solid #2C3D59;}
.secondarycont:first-child, .secondarycont:last-child{border-bottom: none;}
.viewscreen{display:none}
.skillbox{
	margin-bottom:15px;
	cursor:pointer;
	padding:0 10 0 0;
}
.skillbox .inn{
	padding:10px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:solid 2px #ccc;
}
.skillbox p{text-align:center;font-family:DokChampa;font-weight:bold}
.skillbox .inn:hover{background:#E3ECF5}
.carousel{display:none}
.item .carousel-caption .cb {color:#333}
@media (min-width: 550px){
	.proftext .name{font-size:40px}
	.proftext .desig{font-size:20px;margin:0;}
	.bar{padding-left:40px;font-size:18px}
	.sesub{font-size:14px;width:250px}
	
}
@media (min-width: 768px){
}
@media (min-width: 820px){
	.profphoto{
		float:right;
		display:block;
		margin:auto;
		text-align:left;
	}
	.proftext{
		float:left;
	}
	.showprof{
		display:none;
	}
	.profphoto{
		padding:0 30 0 60;
	}
	.profphoto img{
		text-align:left;
	}
	.bar{padding-left:90px;font-size:24px}
	.sesub{font-size:16px;width:300px}
}

@media (min-width: 957px){
	.proftext .name{font-size:60px}
	.proftext .desig{font-size:24px;}
}
@media (min-width: 1024px){
	.proftext{ padding-left:90px; }
	.viewscreen{display:block}
	.item .carousel-caption{color:#FFF;font-weight:bold}
	.item img{height:500px !important; width:500px !important}
	.carousel{display:block}
	.modal-dialog{z-index:1041}
}
