@import 'reset';

//test
@font-face {
  font-family: 'Inter';
  src:  url('font/Inter-Regular.woff2') format('woff2'),
        url('font/Inter-Regular.woff') format('woff');
  font-weight: 400;
}


@font-face {
  font-family: 'Inter';
  src:  url('font/Inter-Bold.woff2') format('woff2'),
        url('font/Inter-Bold.woff') format('woff');
  font-weight: 700;
}


@font-face {
  font-family: 'Inter';
  src:  url('font/Inter-ExtraLight-BETA.woff2') format('woff2'),
        url('font/Inter-ExtraLight-BETA.woff') format('woff');
  font-weight: 200;
}

html body{
	line-height: 1.5;
	box-sizing: border-box;
	font-family: Inter, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue  !important;
}

img{
	max-width: 100%;
	height:auto;
}